body, html {
    margin: 0;
    height: 100%;
    background-color: white;
}

#title {
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vh;
}

#GPA {
    position: absolute;
    top: 20vh;
    width: 100%;
    text-align: center;
    font-family: "Jua", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 3vh;
}

#WA {
    position: absolute;
    top: 25vh;
    width: 100%;
    color: red;
    text-align: center;
    font-family: "Jua", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 5vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#rule {
    background-color: lightgrey;
    position: absolute;
    text-align: center;
    top: 60vh;
    font-size: 1.5vh;
    font-family: "ZCOOL KuaiLe", sans-serif;
    letter-spacing: 0.2vh;
    line-height: 2vh;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.board {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
}

.border {
    fill: none;
    stroke: blue;
    stroke-width: 2;
}

text {
    font-family: "ZCOOL KuaiLe", sans-serif;
}

@keyframes grow {
    from {
        r: 10;
        stroke-width: 10;
    }
    to {
        r: 12.5;
        stroke-width: 5;
    }
}

@keyframes shrink {
    from {
        r: 12.5;
        stroke-width: 5;
    }
    to {
        r: 10;
        stroke-width: 10;
    }
}

.start:hover {
    animation: grow 0.5s forwards;
}

.start:not(:hover) {
    animation: shrink 0.5s forwards;
}

#mobile {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

button {
    padding: 1vh 2vh;
    font-size: 1.6vh;
    border: none;
    border-radius: 0.5vh;
    background-color: #4e4e4e;
    color: white;
    cursor: pointer;
}