body, html {
    margin: 0;
    height: 100%;
    background-color: white;
    overflow: hidden;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23DBDBDB' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23CBCBCB'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

#title {
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vh;
}

#GPA {
    position: absolute;
    top: 20vh;
    width: 100%;
    text-align: center;
    font-family: "Jua", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 3vh;
}

#WA {
    position: absolute;
    top: 25vh;
    width: 100%;
    color: red;
    text-align: center;
    font-family: "Jua", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 5vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#rule, #mobileRule {
    background-color: lightgrey;
    position: absolute;
    text-align: center;
    top: 50vh;
    font-size: 1.5vh;
    font-family: "ZCOOL KuaiLe", sans-serif;
    letter-spacing: 0.2vh;
    line-height: 2vh;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#rule::before {
    content: "使用方向键或WASD操控生成路径 \A 退格键删除路径，R键清空路径 \A 从左上角的起始点出发，到右下角结束 \A 路径需要穿过所有科大校园道路名称 \A 路径与四周边界围成的区域中只能包含一种颜色的学院方块 \A 且一个区域内只能有一个完整的“理实”和“红专” \A Enter键提交你的答案，如果正确GPA增加，更换题目 \A Tab键更换题目，Control键显示答案，Shift键隐藏答案\A";
    white-space: pre-wrap;
}

#mobileRule::before {
    content: "在页面上滑动生成路径 \A 反向滑动删除路径 \A 从左上角的起始点出发，到右下角结束 \A 路径需要穿过所有科大校园道路名称 \A 路径与四周边界围成的区域中只能包含一种颜色的学院方块 \A 且一个区域内只能有一个完整的“理实”和“红专” \A 提交你的答案，如果正确GPA增加，更换题目";
    white-space: pre-wrap;
}

.board {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
}

.border {
    fill: none;
    stroke: blue;
    stroke-width: 2;
}

text {
    font-family: "ZCOOL KuaiLe", sans-serif;
}

@keyframes grow {
    from {
        r: 10;
        stroke-width: 10;
    }
    to {
        r: 12.5;
        stroke-width: 5;
    }
}

@keyframes shrink {
    from {
        r: 12.5;
        stroke-width: 5;
    }
    to {
        r: 10;
        stroke-width: 10;
    }
}

.start:hover {
    animation: grow 0.5s forwards;
}

.start:not(:hover) {
    animation: shrink 0.5s forwards;
}

#mobile {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

button {
    padding: 1vh 2vh;
    font-size: 1.6vh;
    border: none;
    border-radius: 0.5vh;
    background-color: #4e4e4e;
    color: white;
    cursor: pointer;
}